.card-container{
    height: 400px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #eaf0f8;
    margin: 50px 35px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: scale 0.4s ease;
}

.card-container.dark{
    background-color: #26292d;
}

.card-container:hover{
    scale: 1.02;
}

.card-img{
    height: 30%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.85;
    border-bottom: 3px solid tomato;
    position: relative;
}

/* .card-img > img{
    position: absolute;
    top: 50%;
    left: 0;
} */


.card-container.dark .card-icon{
    filter: invert(98%) sepia(11%) saturate(98%) hue-rotate(264deg) brightness(114%) contrast(96%);


}

.card-icon{
    position: absolute;
    width: 80px;
    height: 80px;
    filter: invert(89%) sepia(20%) saturate(273%) hue-rotate(117deg) brightness(98%) contrast(96%);
    background-color: white;
    border-radius: 50%;
    top: 10%;
    left: 70%;
}

.title{
    font-size: 16px;
    position: absolute;
    top: 25%;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

.card-icon > img{
    text-align: center;
    margin-top: 12.5%;
    width: 75%;
    height: 75%;
    background-color: transparent;
    color: black;
    border-radius: 50%;
}
.card-desc .description{
    color: #347ab3;
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
    font-size: 13px;
    word-spacing: 1.5px;
}
.vote{
    margin-bottom: 5px;
    font-size: 18px;
    color: orange;
}
.vote span{
    color: lightsalmon;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;

}

.vote span:last-of-type{
    font-style: italic;
    color: #A7727D;
    font-size: 12px;
}

.buyer button{
    background-color: #A7727D;
    border: 0;
    padding: 5px;
    width: 35%;
    margin-right: 10px;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.buyer button:focus-visible{
    outline: none;
    background-color: aqua;
}

.buyer .btn-cart{
    color: white;
    font-size: 13px;
}
.buyer .btn-buy{
    margin-left: 10px;
    color: white;
    font-size: 13px;
}

.buyer button:hover{
    background-color: aqua;
    color: black;
}

.rating-star{
    margin-bottom: 10px;
}

.rating-star button{
    border: 0;
    margin-left: 2px;
    padding: 3px;
    font-size: 18px;
    background-color: transparent;
}

.rating-star .on > span{
    color: yellow;
    transition: color 0.3s ease;
}

.rating-star .off > span{
    color: gray;
    transition: color 0.3s ease;
}

.rating-star h6{
    color: orange;
    font-size: 12px;
}

.delete-game{
    margin: 20px 0;
}

.delete-game button{
    background-color: #A7727D;
    border: 0;
    padding: 5px;
    width: 35%;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.delete-game button:hover{
    background-color: aqua;
    color: black;
}