.form-container{
    background: linear-gradient(90deg, #79f3c7, #65e5df, #55b2d3);
    
    width: 100vw;
    height: 100vh;
}

.form-content{
    padding: 50px;
    border: 1px solid salmon;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 5px rgb(250, 128, 114,0.7);
}

.form-content h3{
    color: salmon;
    padding-bottom: 20px;
}

.form-content input{
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    
}

.form-content textarea{
    border-radius: 10px;
    border: 1px solid coral;
}

.form-content label{
    color: #55b2d3;
    padding: 5px 0;
}

.btn-create{
    background-color: salmon;
    border: 0;
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
}